.user-stock-infos {
  h4, p {
    margin: 5px;
  }
}

.stock-infos {
  h4, p {
    margin: 5px;
  }
}

::ng-deep.mat-list-item-content {
  width: 100%;
}

.icon-container {
  padding: 5px;
}

main {
  height: calc(100vh - 56px);
}
