<div *ngIf="loading" fxLayoutAlign="center center" class="full-size">
  <mat-spinner></mat-spinner>
</div>
<mat-list *ngIf="!loading">
  <h3 mat-subheader>PEA</h3>
  <mat-list-item *ngFor="let stock of pea; let $index" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start center" fxFlex="75">
      <div fxLayoutAlign="center center" class="icon-container">
        <button mat-icon-button color="warn" (click)="deleteStock('pea', stock, $index)">
          <mat-icon mat-list-icon>delete</mat-icon>
        </button>
      </div>
      <div fxLayout="column" fxLayoutAlign="center start" class="user-stock-infos">
        <h4 mat-line>{{stock.fullName}}</h4>
        <p mat-line>Acheté au prix de {{stock.bought_value}} €</p>
      </div>
    </div>
    <div fxFlex="25" fxLayout="column" fxLayoutAlign="center end" class="stock-infos">
      <h4 mat-line [ngClass]="{'positive': stock.variation > 0, 'negative': stock.variation < 0, 'neutral': stock.variation === 0}">
        {{stock.variation | number: '1.2-2'}} %
      </h4>
      <p mat-line>Actuel : {{stock.currentValue}} €</p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Comptes titres</h3>
  <mat-list-item *ngFor="let stock of titres" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start center" fxFlex="75">
      <div fxLayoutAlign="center center" class="icon-container">
        <mat-icon mat-list-icon>access_time</mat-icon>
      </div>
      <div fxLayout="column" fxLayoutAlign="center start" class="user-stock-infos">
        <h4 mat-line>{{stock.symbol}}</h4>
        <p mat-line>Acheté au prix de {{stock.bought_value}} €</p>
      </div>
    </div>
    <div fxFlex="25" fxLayout="column" fxLayoutAlign="center end" class="stock-infos">
      <h4 mat-line [ngClass]="{'positive': stock.variation > 0, 'negative': stock.variation < 0, 'neutral': stock.variation === 0}">
        {{stock.variation | number: '1.2-2'}} %
      </h4>
      <p mat-line>Actuel : {{stock.currentValue}} €</p>
    </div>
  </mat-list-item>
</mat-list>
