<div class="full-width" fxLayoutAlign="center center" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="full-width" *ngIf="!loading">
  <mat-list class="full-width">
    <div mat-subheader>Actualités</div>
    <mat-list-item *ngFor="let article of news">
      <div mat-line>
        <a class="full-width" [href]="article.link" target="_self">{{article.title}}</a>
      </div>
      <div mat-line>
        {{article.date}}
      </div>
      <mat-divider class="full-width"></mat-divider>
    </mat-list-item>
  </mat-list>
  <mat-paginator [length]="50*30"
                 (page)="changePage($event)"
                 [pageSize]="news.length">
  </mat-paginator>
</div>
