<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayoutAlign="space-between center" class="full-width">
    <div fxLayoutAlign="center center">
      <h1>{{stockInfo.meta.symbol}}</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <p>Currency in {{stockInfo.meta.currency}}</p>
      <h3>{{stockInfo.meta.regularMarketPrice}}</h3>
    </div>
  </div>
  <div fxLayoutAlign="center center">
    <mat-chip-list>
      <div *ngFor="let val of stockInfo.meta.validRanges">
        <mat-chip (click)="changeRange(val)">
          {{val}}
        </mat-chip>
      </div>
    </mat-chip-list>
  </div>
  <div fxLayoutAlign="center center">
    <google-chart [type]="'LineChart'" [data]="chartData"></google-chart>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <span>Acheté </span>
    <mat-form-field>
      <input matInput placeholder="Nombre" type="number" [(ngModel)]="buyModel.qty">
    </mat-form-field>
    <span>au prix de</span>
    <mat-form-field>
      <input matInput placeholder="Prix" type="number" [(ngModel)]="buyModel.bought_value">
      <span matSuffix>€</span>
    </mat-form-field>
    <span>sur le compte</span>
    <mat-form-field>
      <mat-label>Type de compte</mat-label>
      <mat-select [(ngModel)]="account">
        <mat-option [value]="'pea'">
          PEA
        </mat-option>
        <mat-option [value]="'titres'">
          Compte titres
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="bought()" *ngIf="!loading">
      Valider
    </button>
    <mat-spinner [diameter]="32" *ngIf="loading"></mat-spinner>
  </div>
</div>


