.main {
  height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
}

.green {
  color: #4caf50;
}

.red {
  color: #f44336;
}

h3, h4 {
  margin: 5px 0;
  font-weight: normal;
}

.palmares {
  padding: 10px 5px;
}
