<div class="full-width" fxLayoutAlign="center center" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="full-width" *ngIf="!loading">
  <mat-list class="full-width">
    <div mat-subheader>Conseils</div>
    <mat-list-item *ngFor="let article of conseils" fxLayout="row">
      <div fxFlex="20">
        <span>{{article.date}}</span>
      </div>
      <div fxFlex="20" class="{{article.class}}" fxLayoutAlign="center center">
        <mat-icon *ngIf="article.class === 'red'">trending_down</mat-icon>
        <mat-icon *ngIf="article.class === 'green'">trending_up</mat-icon>
      </div>
      <div fxFlex="60">
        <a class="full-width" [href]="article.link" target="_self">{{article.title}}</a>
      </div>
      <mat-divider class="full-width"></mat-divider>
    </mat-list-item>
  </mat-list>
  <mat-paginator [length]="10"
                 (page)="changePage($event)"
                 [pageSize]="conseils.length">
  </mat-paginator>
</div>
